* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #e9ebee;
    letter-spacing: 0.2px;
    font-family: Helvetica, Arial, sans-serif;
}

.container {
    width: 100%;
    margin: 50px 0;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
   padding: 0 73px;
}

.card {
    background-color: #fff;
    box-shadow: 0 0 12px #abafb542;
    padding: 15px;
    border-radius: 7px;
    border: 1px solid #e9ebee; 
    width: 396px;
}

h4 {
    text-align: center;
    padding-bottom: 10px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 100;
}

input {
    width: 100%;
    padding: 14px;
    margin: 6px 0;
    font-size: 16px;
    border-radius: 8px;
    border-color: #e2dede;
    border-top-color: #ffffff60;
    border-left-color: #ffffff60;
}

button {
    width: 100%;
    padding: 15px;
    margin-top: 6px;
    font-size: 16px;
    font-weight: 900;
    color: #fff;
    background-color: #1877f2;
    border: none;
    border-radius: 8px;
}

p {
    text-align: center;
    padding: 15px;
}

p a {
    color: #1877f2;
    text-decoration: none;
    font-size: 14px;
}