* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: cadetblue;
}

.container {
    width: 60%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.col {
    width: 50%;
    padding: 20px;
    text-align: center;
}

.box {
    border: 5px solid #000;
    border-radius: 20px;
}

#form button {
    font-size: 25px;
    font-weight: 800;
    font-style: italic;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

label {
    font-size: 25px;
    font-weight: 800;
}

.box1 h3 {
    font-size: 25px;
    font-weight: 800;
}

.icon iconify-icon {
    font-size: 20px;
    padding: 20px;
    cursor: pointer;
}

#input {
    width: 90%;
    resize: none;
    outline: none;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 5px;
    border-color: #bfbfbf;
}
#input:is(:focus, :valid) {
    border-width: 2px;
    border-color: #4671EA;
}
#input::-webkit-scrollbar {
    width: 0px;
}

@media (max-width: 600px) {
    .col {
        width: 100%;
    }
    label {
        font-size: 18px;
        font-weight: 800;
    }
    .box1 h3 {
        font-size: 18px;
        font-weight: 800;
    }
    #form button {
        font-size: 18px;
    }
}